*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
}

.calc{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12pt;
}

textarea{
    margin-bottom: 16px;
    width: 310px;
    height: 180px;
    resize: none;
}

.btn-O{
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn-equal{
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

.btn-limpar{
    margin-top: 32px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
}



